nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 0px;
  height: 90px;
  z-index: 10;
  
  transition: width 1.3s;
  color: white;

  display: flex;
  justify-content: space-around;
  align-items: center;

  border-bottom: 1px solid white;

  .burger-menu-icon {
    position: absolute;
    top: 20px;
    right: -90px;
    width: 40px;
    height: 60px;
    transition: all 1s ;
    padding: 4px;
    &:hover .menu-line{
      margin: 8px auto;
    }

    .menu-line {
      width: 40px;
      height: 3px;
      background-color: white;
      margin: 6px auto;
      border-radius: 10px;
      
      &.hover {
        background-color: rgb(177, 177, 177);
      }
      &.one {
        transition: transform 0.8s, width 1.5s, margin 1.5s;
        
      }
      &.two {
        transition: transform 1s 0.7s, opacity 1s 0.7s, margin 1.5s 0.7s;
        opacity: 1;
      }
      &.three {
        transition: transform 0.8s, width 1.5s, margin 1.5s;
      }
    }
  }

  .menu-list {
    width: 80vw;
    left: -100vw;
    position: relative;
    opacity: 0;
    display: flex;
    justify-content: space-evenly;
    transition: left 3s, opacity 1s;

    li {
      padding: 5px;
      text-align: center;
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;
      a {
        display: inline-block;
        letter-spacing: 2.5px;
      }
      &:hover {
        transform: scale(-1, 1);
        
      }
    }
  }

  &.menu-open {
    width: 100vw;
    transition: width 2s;

    .burger-menu-icon {
      top: 20px;
      right: 25px;
      transition: all 2s;
      .menu-line {
        margin: 0;
        &.one {
          transform: translateY(3px) rotate(45deg);
          width: 20px;
          transition: transform 1.5s 0.5s, width 1.5s 0.6s, margin 1.5s 0.6s;
        }
        &.two {
          transform: translateX(-50px);
          opacity: 0;
          transition: transform 1s, opacity 1s, margin 1.5s;
        }
        &.three {
          transform: translateY(-3px) rotate(-45deg);
          width: 20px;
          transition: transform 1.5s 0.5s, width 1.5s 0.6s, margin 1.5s 0.6s;
        }
      }
    }

    .menu-list {
      left: 0;
      opacity: 1;
    }
    .underline-menu-items {
      height: 0.5px;
      width: 0;
      position: relative;
      margin: 3px 0 0 0;
      background-color: white;
      transition: all 0.5s ease-out;
      opacity: 1;
      
    }
  }    
}