@font-face {
    font-family: 'uni-sans normal';
    src: url('./fonts/uni-sans.thin-caps.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'uni-sans bold';
    src: url('./fonts/uni-sans.heavy-caps.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'uni-sans normal';
}

$primary-color: #293241;//rgb(243, 240, 237);
$secondary-color: rgb(240, 240, 240);//rgb(236, 233, 231);
$font-color: white;//rgb(53, 49, 49);

body {
     overflow-y: scroll;
     overflow-x: hidden;
     background-color: white;
     
}
a {
    color: inherit;
}
.background-panel {
     display: grid; 
     height: 100vh;
     width: 100vw;
     grid: 1fr 2fr 1fr / 20vw 1fr 1fr 1fr;
     z-index: -2;
     position: fixed;
     top: 0;

    %background {
        position: absolute;
        height: 100vh;
        z-index: -1;
        
    }
    .left-background {
        @extend %background;
        width: 20vw;
        left: 0;
        background-color: $primary-color;
        animation: slideUp 2s ease;
        @keyframes slideUp{
            0% {
                top: -100vh;
            }
            100% {
                top: 0;
            }
        }
    }

    .right-background {
        @extend %background;
        width: 80vw;
        right: 0;
        background-color: $secondary-color;
        animation: slideDown 2s ease;
        @keyframes slideDown{
            0% {
                top: 100vh;
            }
            100% {
                top: 0px;
            }
        }
    }

    .name {
        margin: 40px 0 0 60px;
        font-family: 'uni-sans normal';
        letter-spacing: 3.5px;
        line-height: 30px; 
        font-size: 24px;
        color: $font-color;
        font-weight: bold;
        animation: fade-up-and-in 1s ease 1s backwards;
    }
    .nav-scroll-bar {
        grid-area: 2 / 1 / 3 / 2;
        margin: auto 0 auto 40px;
        height: 170px;
        width: 10px;
        background-color: rgba(255, 255, 255, 0.527);
        border-radius: 10px;

        animation: fade-up-and-in 1s ease 1s backwards;
        .scroll-ball {
            width: 20px;
            height: 20px;
            background-color: grey;
            border-radius: 15px;
            border: 6px solid black;
            position: relative;
            left: -5px;
        }
    }
    .nav-selector {
        grid-area: 2 / 1 / 3 / 2;
        span {
            display: block;
            position: relative;
            left: 35px;
            top: 32px;
        }
    }

    .nav {
        font-family: 'uni-sans normal';
        letter-spacing: 3.5px; 
        font-size: 18px;
        color: $font-color;
        font-weight: bold;
        width: 240px;
        height: 240px;
        grid-area: 2 / 1 / 3 / 2;
        display: inline-block;
        margin: auto;
        margin: 0 0 0 60px;
        li {
            display: inline-block;
            height: 45px;
            line-height: 45px;
            animation: fade-up-and-in 1s ease 1s backwards;
            transition: font-size 0.5s;
            &:hover {
                color:rgb(236, 233, 231);
                font-size: 42px;
            }
        }
    }

    @keyframes fade-up-and-in {
        0% {
            opacity: 0;
            transform: translateY(-40px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}
main {
    float: right;
    display: flex;
    flex-direction: column;
    width: 79vw;
    height: 4000px;

    .animated-greeting {
        height: 100vh;
        width: 100%;
        .github {
            width: 60px;
            height: auto;
            float: right;
            margin: 20px 20px;
            opacity: 0.6;
            animation: github-fade-in 1s ease 1s backwards;
            transition: opacity 1s, width 1s, margin 1s;
            &:hover {
                opacity: 1;
                width: 80px;
                margin: 10px 10px;
            }
            @keyframes github-fade-in {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 0.6;
                }
            }
        
        }
        
        .message-part-two {
            
            font-family: 'uni-sans normal';
            letter-spacing: 3.5px; 
            font-size: 58px;
            color: black;
            font-weight: bold;
            margin: 0px 0 0px 80px;
            width: 550px;
            height: 200px;
            line-height: 100px;
            //background-color: black;
            //color: white;
            padding: 20px;
            .text-cursor {
                opacity: 0.6;
            }
        }
    }

    %content {
        height: 600px;
        width: 80%;
        margin: 40px auto;
        h2 {
            position: relative;
            top: 25px;
            font-family: 'uni-sans bold';
            letter-spacing: 2px;  
            font-weight: bold;
            font-size: 64px;
            margin: 0 0 0 10px;
        }
        article {
            font-family: Arial, Helvetica, sans-serif;
            width: 100%;
            height: 100%;
            padding: 20px;
            border-radius: 5px;
        }
        opacity: 0.3;
        transform: translateY(0vh);
        transition: opacity 2s, transform 2s;
        
        &.in-viewport {
            opacity: 1;
            transform: translateY(-10vh);
        }
    }
    
    
    .about {
        @extend %content;
        article {
            background-color: #2a9d8f;
        }
    }
    .skills {
        @extend %content;
        article {
            background-color: #735d78;
        }
    }
    .projects {
        @extend %content;
        article {
            background-color: #e07a5f;
        }
    }
    .contact {
        @extend %content;
        article {
            background-color: #457b9d;
        }
    }
}




 
